/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

/* start Material style*/
md-form-field {
    width: 100% !important;
}
.mat-raised-button.mat-primary {
    background-color: #0b7323;
}
button.mat-raised-button {
    background-color: gray;
    color: white;
}
label.mat-input-placeholder {
    color: #075d07;
}
.mat-focused .mat-form-field-placeholder {
    color: #075d07;
}
/* end Material style */

.link {
    cursor: pointer;
}
.title {
    margin-bottom: 30px;
}
.error {
    color: red;
}
.success {
    color: green;
}
.message {
    font-size: 16px;
}